<!-- <div class="container">
    <h1 class="front">Weather Forecast</h1>
    <section class="sec-first">
        <div class="row first-row">
            <div class="col-12">
                <form>
                    <input type="text" class="  icon-rtl search" placeholder="Search Your City">
                </form>
            </div>
        </div>
    </section>
    <section class="sec-second">
        <div>
            <div class="row sec-row">
                <div class="col-6">
                    <div class="text">
                        Today
                    </div>
                    <div class="degree">
                        30<sup class="celsius">°c</sup>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-date">
                        Date
                    </div>
                    <div>
                        <img src="../../assets/images/Copy of mist.png" style="width:30%;" alt="image">
                        <img src="" style="width:30%;" alt="">
                    </div>
                </div>
                <hr>
                <h5>
                    <i class="bi bi-geo-alt-fill"></i>
                    Location
                </h5>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row third-row">
            <div class="col-6">
                <div class="f-col">
                    <img src="../../assets/images/Copy of humidity.png" alt="Humidity">
                    <span class="humidity-text">
                        &nbsp; 57 °c
                    </span>
                    <div>
                        &nbsp; Humidity
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="f-col">
                    <img src="../../assets/images/Copy of pressure.png" alt="Pressure">
                    <span class="pressure-text">
                        &nbsp; 1008Hpa
                    </span>
                    <div>
                        &nbsp; Pressure
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row four-row">
            <div class="col-4">
                <div class="f-col">
                    <div>
                        12 °c
                    </div>
                    Sunday
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div>
                        22 °c
                    </div>
                    Monday
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div>
                        30 °c
                    </div>
                    Tuesday
                </div>
            </div>
        </div>
    </section>
</div> -->


<!-- <div class="menu__wrapper">
    <div class="menu__item--bento">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div> -->

<div class="container-fluid">
    <i class="bi bi-list nav-class"></i>
</div>
<div class="container">
    <div class="myHeading">
        <h1 class="text-center">Weather Forecast</h1>
    </div>
    <section class="sec-first">
        <div class="row first-row">
            <div class="col-12">
                <form>
                    <input type="text" class="p-md-4 p-3 icon-rtl search" placeholder="Search Your City">
                </form>
            </div>
        </div>
    </section>
    <section class="sec-second">
        <div class="container">
            <div class="row sec-row">
                <div class="col-6">
                    <div class="text">
                        Today
                    </div>
                    <div class="degree text-center">
                        +30<sup class="celsius">°c</sup>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-date">
                        Sunday,03 Feb
                    </div>
                    <div class="weather-img text-center">
                        <img src="../../assets/images/Copy of mist.png" alt="image">
                    </div>
                </div>
                <!-- <hr> -->
                <h5 class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    &nbsp;&nbsp;&nbsp;Location
                </h5>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row third-row">
            <div class="col-6">
                <div class="f-col">
                    <div class="row">
                        <div class="col-4 humidity-img d-flex">
                            <div>
                                <img src="../../assets/images/Copy of humidity.png" alt="Humidity">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="humidity-text">
                                <h3>57%</h3>
                            </div>
                            <div>
                                <p>Humidity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="f-col">
                    <div class="row">
                        <div class="col-3 col-md-4 humidity-img d-flex">
                            <div>
                                <img src="../../assets/images/Copy of pressure.png" style="align-items: center;"
                                    alt="Pressure">
                            </div>
                        </div>
                        <div class="col-9 col-md-8">
                            <div class="humidity-text">
                                <h3 class="humidity-h3">1008HPa</h3>
                            </div>
                            <div>
                                <p class="humidity-pressure">Pressure</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row four-row">
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">+12°c</h3>
                    </div>
                    <!-- <div> -->
                    <h5 class="text-center">Sunday</h5>
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">+22°c</h3>
                        <!-- 22 °c -->
                    </div>
                    <h5 class="text-center">Monday</h5>
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">+30°c</h3>
                    </div>
                    <h5 class="text-center">Tuesday</h5>
                </div>
            </div>
        </div>
    </section>
</div>