<div class="container-fluid">
    <i class="bi bi-list nav-class"></i>
</div>
<div class="container">
    <div class="myHeading">
        <h1 class="text-center">Weather Forecast</h1>
    </div>
    <section class="sec-first">
        <div class="row first-row">
            <div class="col-12">
                <form [formGroup]="WeatherForm" name="WeatherForm" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="city" class="p-md-4 p-3 icon-rtl search"
                        placeholder="Search Your City">
                </form>
            </div>
        </div>
    </section>
    <section class="sec-second">
        <div class="container">
            <div class="row sec-row">
                <div class="col-6">
                    <div class="text">
                        Today
                    </div>
                    <div class="degree text-center">
                        {{weatherData.current.temp_c | number:'1.0-0'}}<sup class="celsius">°c</sup>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-date">
                        {{todayDay}}
                    </div>
                    <div>
                        <div class="weather-img text-center">
                            <img *ngIf="(weatherData.current.temp_c<1)" src="../../assets/images/Copy of snow.png" alt="Snow">
                            <img *ngIf="(weatherData.current.temp_c>=1 && weatherData.current.temp_c <15 && !weatherData.forecast.forecastday[0].day.daily_will_it_rain)" src="../../assets/images/Copy of broken-clouds.png" alt="Broken Clouds">
                            <img *ngIf="(weatherData.current.temp_c>=15 && weatherData.current.temp_c <25 && !weatherData.forecast.forecastday[0].day.daily_will_it_rain)" src="../../assets/images/Copy of mist.png" alt="Mist">
                            <img *ngIf="(weatherData.current.temp_c>=25 && weatherData.current.temp_c <35 && !weatherData.forecast.forecastday[0].day.daily_will_it_rain) " src="../../assets/images/Copy of few-clouds.png" alt="Clouds">
                            <img *ngIf="(weatherData.current.temp_c>=35 && weatherData.current.temp_c <50 && !weatherData.forecast.forecastday[0].day.daily_will_it_rain)" src="../../assets/images/Copy of clear-sky.png" alt="Clear">
                            <img *ngIf="(weatherData.current.temp_c>=15 && weatherData.current.temp_c <25 && weatherData.forecast.forecastday[0].day.daily_will_it_rain)" src="../../assets/images/Copy of thunderstorm.png" alt="Heavy Rain">
                            <img *ngIf="(weatherData.current.temp_c>=25 && weatherData.current.temp_c <30 && weatherData.forecast.forecastday[0].day.daily_will_it_rain)" src="../../assets/images/Copy of rain.png" alt="Rain">
                        </div>
                    </div>
                </div>
                <h5 class="location">
                    <i class="bi bi-geo-alt-fill"></i>
                    &nbsp;&nbsp;&nbsp;{{weatherData.location.name}},{{weatherData.location.country}}
                </h5>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row third-row">
            <div class="col-6">
                <div class="f-col">
                    <div class="row">
                        <div class="col-4 humidity-img d-flex">
                            <div>
                                <img src="../../assets/images/Copy of humidity.png" alt="Humidity"
                                    style="align-items:center;">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="humidity-text">
                                <h3>{{weatherData.current.humidity}}%
                                </h3>
                            </div>
                            <div>
                                <p>Humidity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="f-col">
                    <div class="row">
                        <div class="col-3 col-md-4 humidity-img d-flex">
                            <div>
                                <img src="../../assets/images/Copy of pressure.png" alt="Pressure"
                                    style="align-items:center;">
                            </div>
                        </div>
                        <div class="col-9 col-md-8">
                            <div class="humidity-text">
                                <h3 class="humidity-h3">
                                    {{weatherData.current.pressure_mb}}HPa
                                </h3>
                            </div>
                            <div>
                                <p class="humidity-pressure">Pressure</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-third">
        <div class="row four-row">
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">
                            {{weatherData.forecast.forecastday[1].day.avgtemp_c | number:'1.0-0'}}°c
                        </h3>
                    </div>
                    <h6 class="text-day">
                        {{days[today.getDay()+1]}}
                    </h6>
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">
                            {{weatherData.forecast.forecastday[2].day.avgtemp_c | number:'1.0-0'}}°c
                        </h3>
                    </div>
                    <h6 class="text-day">
                        {{days[today.getDay()+2]}}
                    </h6>
                </div>
            </div>
            <div class="col-4">
                <div class="f-col">
                    <div class="humidity-text">
                        <h3 class="text-center">
                            {{weatherData.forecast.forecastday[2].day.avgtemp_c +1 | number:'1.0-0'}}°c
                        </h3>
                    </div>
                    <h6 class="text-day">
                        {{days[today.getDay()+3]}}
                    </h6>
                </div>
            </div>
        </div>
    </section>
</div>